:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.button {
  background-color: var(--color-medium);
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-dark);
}

.sidebar {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.sidebar li img {
  border-radius: 50%;
  width: 100%;
  grid-row: span 2;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
}

.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
}

.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}
